.bottom-bar{
    width: 85%;
    height: 10.3vh;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #000000cc;
    margin: auto;
    display: flex;
    justify-content:space-between;
    background-color: white;
  }