
.App Button, .App TextField{
  border-radius: 15px;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.InventoryTable{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:15px;
  border-bottom-left-radius:15px;
  margin: 1%;
  font-family:"Segoe Ui";
  font-size: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.InventoryTable ::-webkit-scrollbar{
  display: none;
}
.InventoryTable table { 
    
    border-collapse: collapse;
    overflow-x: hidden;
    margin-bottom: none;
    scrollbar-width:none;
  }
  .InventoryTable tbody{
    display: block;
    height: 55vh;
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  .InventoryTable thead, .InventoryTable table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
.tableHeader {
    text-align: center; 
    font-size: 17.3px;
    font-weight: bold;
    font-weight: 500;
    color: #343a40;
    word-wrap: break-word;
    display: table-cell;
    /*max-width: 250px;*/
    word-break: keep-all;
}
.columnContainer
{
  height:70px;
  display:table-header-group;
}
.FilterIcon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}
.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.tableContent {
  padding:0.4rem;
  word-wrap: break-word;
  display: table-cell;
  max-width: 250px;
  width: 100%;
  height: fit-content;
  cursor: auto;
  border: 1px solid #dee2e6;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  border:none;
}
.SearchDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 100%;
  margin:1%;
  margin-bottom: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:15px;
}
.SearchBar {
  width: 50%;
  margin: 0.75rem 0.75rem;
  appearance: none;
}
.SearchBar .MuiOutlinedInput-root {
  border-radius: 15px;
}
.clearFiltersButton{
  width: 10%;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 15px;
}
.warning-error{
  display: relative;
  bottom: 0.5rem;
  right: 0.5rem;
}
#deleteHeader {
  font-size: 17.3px;
  font-weight: bold;
  display: table-cell;
  vertical-align: inherit;
  font-weight: 500;
  
  color: #343a40;
  background: #f8f9fa;
  width:"100%";
}
#deleteButton {
 
  color: #343a40;
  border:0px;
  margin:0px;
  padding:0px;
}